.login{
    text-align: center;
}

.login p {
    color: #AAA;
}

/* RESPONSIVO */

@media (max-width: 480px) {
  .login {
    padding: 1em;
  }

  .login p {
    font-size: 0.95em;
    margin-bottom: 1.5em;
  }
}