.post_detail {
  margin-bottom: 2rem;
}

.post_detail img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.post_detail h2 {
  margin-bottom: 0.4rem;
}

.tags {
  margin-bottom: 1.2rem;
  display: flex;
  width: 100%;
}

.tags p {
  margin-right: 0.5rem;
}

.tags span {
  font-weight: bold;
}

.createdby {
  font-style: italic;
  color: #444;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.btn {
  margin-top: 1rem;
}

.stats {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  color: #888;
  font-size: 0.9rem;
}

/* RESPONSIVO */
@media (max-width: 480px) {
  .post_detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    background-color: var(--card-bg);
    width: 70%;
    padding: 10rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px var(--shadow-color);
    border: 1px solid var(--border-color);
    box-sizing: border-box;
  }

  .post_detail img {
    height: 200px;
  }
}