.post_detail {
  margin-bottom: 2rem;
}

.post_detail img {
  max-width: 600px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.post_detail h2 {
  margin-bottom: 0.4rem;
}

.tags {
  margin-bottom: 1.2rem;
  display: flex;
}

.tags p {
  margin-right: 0.5rem;
}

.tags span {
  font-weight: bold;
}

.createdby {
  font-style: italic;
  color: #444;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.btn {
  margin-top: 1rem;
}

.stats {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  color: #888;
  font-size: 0.9rem;
}