.comment_form {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #444;
}

.comment_form h3 {
  margin-bottom: 1rem;
}

.comment_form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment_form textarea {
  resize: none;
  min-height: 100px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #777;
  background-color: #1e1e1e;
  color: #fff;
  font-family: sans-serif;
}

.comment_form textarea:focus {
  outline: none;
  border-color: #00df5e;
}
