.navbar {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.15) 2px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  background-color: #fff;
  position: relative;
}

.brand {
  font-size: 1.2em;
  text-decoration: none;
  color: #333;
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
  align-items: center;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a,
.links_list li button {
  padding: 0.4em 0.6em;
  text-decoration: none;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.active {
  background-color: #000;
  color: white;
}

.welcome_message {
  font-size: 0.9em;
  margin-right: 1em;
  color: #555;
}

.menu_toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu_toggle span {
  background-color: #333;
  height: 3px;
  width: 25px;
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .menu_toggle {
    display: flex;
  }

  .links_list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px -2px;
  }

  .links_list.open {
    display: flex;
  }

  .links_list li {
    margin: 0;
    text-align: center;
    border-top: 1px solid #eee;
  }

  .links_list li a,
  .links_list li button {
    padding: 1em;
    width: 100%;
  }

  .welcome_message {
    display: none;
  }
}