.footer{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDF3F6;
}

/* RESPONSIVO */

@media (max-width: 768px) {
  .footer {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .footer {
    height: 150px;
    padding: 1em;
    text-align: center;
  }
}