.container{
  min-height: 60vh;
  margin-bottom: 5em;
}

/* RESPONSIVO */

@media (max-width: 768px) {
  .container {
    margin-bottom: 4em;
  }
}

@media (max-width: 480px) {
  .container {
    min-height: 50vh;
    margin-bottom: 3em;
  }
}