.create_post {
  text-align: center;
}

.create_post form {
  max-width: 80%;
  max-height: 100vh;
}

.create_post h2 {
  font-size: 2.2em;
}

.create_post p {
  color: #AAA;
  margin-bottom: 2em;
}

/* Editor */
.editor {
  margin-top: 10px;
  margin-bottom: 2rem;
  background: #fff;
  border-radius: 6px;
}
