.navbar{
    display: flex;
    box-shadow: rgba(0,0,0, .15) 2px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
}

.brand{
    font-size: 1.2em;
}

.brand span{
    font-weight: 900;
    text-transform: uppercase;
}

.links_list{
    display: flex;
    list-style: none;
}

.links_list li {
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
}

.active {
    background-color: #000;
    color: white;
}

/* RESPONSIVO */

@media (max-width: 768px) {
  .navbar {
    padding: 0.5em 1em;
  }

  .brand {
    font-size: 1em;
  }

  .links_list li {
    margin-right: 0.5em;
  }

  .links_list li a {
    padding: 0.3em 0.4em;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 0.5em;
    flex-direction: column;
    gap: 0.5em;
  }

  .brand {
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }

  .links_list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
  }

  .links_list li {
    margin-right: 0.3em;
  }

  .links_list li a {
    padding: 0.2em 0.3em;
    font-size: 0.85em;
  }
}